	ВосстанавливаемыйЭлемент =  Справочники.ПараметрыВыработкиОС.СоздатьЭлемент();
	ГУИД = Новый УникальныйИдентификатор("83797038-e55e-11e7-9439-42f2e9dcc789");
	СсылкаНаУдаленныйЭлемент = Справочники.ПараметрыВыработкиОС.ПолучитьСсылку(ГУИД);
	ВосстанавливаемыйЭлемент.УстановитьСсылкуНового(СсылкаНаУдаленныйЭлемент);
	ВосстанавливаемыйЭлемент. Наименование =   "Стоянка с работающим двигателем";
	ВосстанавливаемыйЭлемент.Код =  "000000057";
	ВосстанавливаемыйЭлемент.Записать();
